body{
	background-size: 100%;
}

#hey{
	font-size: 50px;
	color: white;
	font-weight: bold;
	text-shadow: 2px 2px black;
	text-align: center;
	margin-top: 20%;
}

#tijd{
	font-size: 40px;
	color:	white;
	font-weight: bold;
	text-shadow: 2px 2px black;
	text-align: center;
} 

.morgen{
	background-image: url("./backgrounds/morning.png");
}

.middag{
	background-image: url("./backgrounds/afternoon.png");
}

.avond{
	background-image: url("./backgrounds/evening.png");
}

.nacht{
	background-image: url("./backgrounds/night.png");
}